# ignore all node.js dependencies
# - if you want to use the grunt.js examples, run "npm install" in each directory
*node_modules

# ignore Wraith
examples/wraith/wraith/*

# ignore grunt-pagespeed API key file
examples/grunt/pagespeed/settings.json

# ignore example grunt-phantomas output
examples/grunt/phantomas/reports/*
examples/grunt/phantomas/screenshots/*

# ignore example grunt-devperf output
examples/grunt/devperf/reports/*
